@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}
main {

    width: 767px;
    max-width: 100%;
    /* gap: 1%; */
}
header {
    width: 90%;
    height: 32px;
    color: rgba(255, 255, 252, 1);
    background-color: transparent;
    align-items: center;
    position: absolute;
    top: 32px;
    left: 16px;
    z-index: 1000;
}
header nav {
    display: none !important;
}
header .btns {
    display: none !important;
}
.men {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
/* ////////////////sec1//////// */
.sec1 {
    width: 100%;
    max-width: 100%;
    height:712px;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    position: relative;
}
.sec1 .sec1-text
{
    width:90%;
height:112px;
gap: 14px;
display: flex;
flex-direction: column;
align-items:start;
justify-content: end;
margin: 0px 16px 45px 16px;
position: absolute;

}
.sec1-text h1 {
    width: 311px;
    max-width: 100%;
    height: 26px;
    font-family: Barlow;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;

}
.sec1-text p {
    width: 358px;
    max-width: 100%;
    height: 66px;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.sec1 .links {
    width: 95%;
    max-width: 100%;
    height: 162px;
    position: absolute;
    bottom: -25%;
    gap:10%;
    flex-wrap: wrap;
} 
.links div {
    width: 45% !important;
}
.links .div1 {
    padding: 11px 12px 12px 12px;
    gap: 10px;
    border-radius: 4px;
}
.links .div1 p {
    width: 116px;
    height: 17px;
    font-family: Barlow;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.links .div1 img {
    width: 20px;
    height: 20px;
    padding: 1.67px 2.81px 1.67px 2.81px;
}
.links .div2,
.links .div3 {
    padding: 11px 12px 12px 12px;
    gap: 10px;
    border-radius: 4px;
}
.links .div2 img,
.links .div3 img {
    width: 20px;
    height: 20px;
    padding: 1.67px 2.5px 1.67px 2.5px;
}
.links .div2 p,
.links .div3 p {
    width: 81px;
    height: 17px;
    font-family: Barlow;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.links .div4 {
    padding: 11px 12px 12px 12px;
    gap: 10px;
    border-radius: 4px;
}
.links .div4 img {
    width: 16.67px;
    height: 16.67px;
    top: 1.67px;
    left: 1.67px;
    gap: 0px;
    border: 1.5px solid rgba(108, 117, 125, 1);
}
.links .div4 p {
    width: 38px;
    height: 17px;
    font-family: Barlow;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.links button {
    width: 100%;
    height: 44px;
    padding: 12px 18px 12px 18px;
    gap: 10px;
    border-radius: 6px;
    background-color: rgba(21, 118, 214, 1);
}
/* ///////////////////sec2//////////// */
.sec2{
    width: 90%;
gap: 10px;
padding: 1%;
height: fit-content;
border-radius: 8px;
margin: 150px 0 50px 0;

}
.sec2 p{
    width: 100%;
    height: fit-content;
}
/* //////////////////sec3//////////// */
.sec3 {
height:fit-content;
width: 90%;
gap: 32px;
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    align-items: center;
    padding: 1%;
}
.sec3 h1{
    text-align: center;
}
.sec3 .chose-container {
    width: 100%;
    height: fit-content;
    gap: 16px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}   
.sec3 .chose-container div h2,.sec3 .chose-container div p
{
    text-align: center;
}
/* ///////////////////sec4//////////// */
.sec4{
    width: 95%;
    padding: 1%;
    margin: 100px 0 50px 0;
    /* height: fit-content; */
}
.sec4-con{
  flex-direction: column;
    /* height: fit-content; */
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sec4 p{
    width: 100%;
    text-align: left;
    height: fit-content;
}
.sec4-con-div1{
    width: 100%;
    gap: 5px;

}
.sec4-con-div1-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sec4-con-div1 img{
    width: 100%;
    /* height: 50%; */
}
/* ///////////////////sec5//////////////// */   
.sec5
{
    width: 95%;
    margin: 50px 0;
    height: fit-content;
    padding: 1%;
    gap: 50px;
    justify-content: center;
    align-items: center;

}
.sec5 h1{
    width: 100%;
    text-align: center;
}
.sec5-con
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec5-con div
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-align: left;
}
/* ///////////////////////sec6//////////////// */
.sec6{
    width: 100%;
    height: fit-content;
    padding: 1%;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.sec6-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec6-con div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}
.sec6-con div img{
    width: 100%;
}
.sec6-con div h2,.sec6-con div p{
    text-align: left;
}
/* ////////////////sec7//////////////////// */
.sec7{
    width: 95%;
    height: fit-content;
    gap: 50px;
    justify-content: row;
    flex-wrap: wrap;
    /* background-color: aqua; */
}
.sec7 h1{
    text-align: left;
    width: 100% !important;

}
.sec7-con{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    /* background-color: chartreuse; */
}
.sec7-con div{
    display: flex;
    flex-wrap: wrap;
}
.sec7-con div h1{
    width: 80% !important;
    margin: 5% ;
    text-align: left;
}
.sec7-con-son1{
    width: 100%;
    gap: 4%;
    flex-direction: row;
    height: fit-content;
}
.sec7-con-son1 div{
    width: 48%;
}
.sec7-con-son2{
    width: 100%;
    background-position: center;
    height: 296px;
}
.sec7-con-son3{
    width: 100%;
    flex-direction: row-reverse;
    height: fit-content;
    gap: 10%;
}
.sec7-con-son3 div{
    width: 45%  !important;
    display: flex;
    flex-direction: column;
    
    /* gap: 10px; */
}
.sec7-con-son3-child1{
    width:45% !important;
    background-position: center;
}
.sec7-con-son3-child2{
    width: 50% !important;
    height: fit-content;
    flex-direction: row !important;
    background-position: center;
    gap: 10% !important;
}
.sec7-con-son3-child2 div{
    background-position: center;
}
.sec7-con-son3-child2-son1{
    width: 30% !important;
}
.sec7-con-son3-child2-son2{
    width: 60% !important;
}
/* //////////////////////sec8////////////////////// */
.sec8{
    width: 95%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin:100px 0;
}
.sec8 h1 {
    text-align: center;
    width: 100%;
}
.sec8-fotCON{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.sec8-fotCON div{
    
    text-align:center;
    width: 100%;

}
/* ///////////////////////////////////sec9//////////////////////// */
.sec9{
    width: 95%;
    height: fit-content;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.sec9 img{
display: none;
}
.sec9-con1{
    width: 100%;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.sec9-con1 p{
    text-align: left;
    width: 100%;
}
/* ///////////////////////////////////////////////footer/////////////////////////////////////// */
footer{
    height: fit-content;
}

.footer-con2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50%;
    height: fit-content;
    gap: 50px;
}
.footer-con2 div{
    background-color: chartreuse;
}
.footer-con2-ul4 ,.footer-con2-ul5
{
    height: 150px;
}
.footer-con2-ul3 ul ,.footer-con2-ul3 li{
    text-align: center;
}